/* FUENTES */

/* VARIABLES */

/* CSS COMÚN */

* {
 box-sizing: border-box;
}

body {
 margin: 0px;
 padding: 0px;
}

.backvideo {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: radial-gradient(#636363, #161616);
    background-size: 200% 100%;
    background-position: center;
}

.backvideo video {
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: center;
    opacity: 1;
}

.overvideo {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(rgba(150, 150, 150, 0.4) 0%, rgba(150, 150, 150, 0.4) 35%, rgba(5, 5, 5, 0) 55%, rgba(8, 8, 8, 0) 100%);
    background-size: 4px 4px;
    mix-blend-mode: overlay;
}

/* RESPONSIVE */

/* ANIMACIONES */
