/* FUENTES */

/* VARIABLES */

/* CSS COMÚN */

* {
 box-sizing: border-box;
}

body {
 margin: 0px;
 padding: 0px;
}

.backvideo {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.backvideo video {
    position: absolute;
    height: 100vh;
    width: 130vw;
    object-fit: cover;
}

/* RESPONSIVE */

/* ANIMACIONES */